<template>
    <div class ="yj-card-device-info">
        <div class="photo"><img :src="photoPath" :alt="deviceName"/></div>
        <div class="title">{{deviceName}}</div>
        <div class="beforeprice">{{deviceBeforePrice | currency }} 원</div>
        <div v-if="deviceAfterPrice<=600000">최고할인가</div>
        <div v-else>할인가</div>
        <div class="afterprice">{{deviceAfterPrice| currency}} 원</div>
        <div class="date">도착일 : {{arrivalDate}}</div>

        <div><nuxt-link to="">자세히보기</nuxt-link></div>

    </div>
</template>

<script>
export default{
    props : {
        id : {
            type : Number,
            required : true
        },
        photoPath :{
            type : String,
            required : true
        },

        deviceName :{
            type : String,
            required : true
        },
        deviceBeforePrice : {
            type : Number,
            required : false,
            default : null
        },
        deviceAfterPrice :{
            type : Number,
            required : false,
            default: null
        },
        arrivalDate :{
            type : String,
            required : true
        }

    }

}
</script>
