<template>
    <div>
        <section>
            <img src="/images/list_banner.png" alt="배너"><br>
            <card-device-info
                v-for="(item,index) in devices"
                v-bind:key="index"
                v-bind:photo-path="item.PhotoName"
                v-bind:device-name="item.deviceName"
                v-bind:device-before-price="item.deviceBeforePrice"
                v-bind:device-after-price="item.deviceAfterPrice"
                v-bind:arrival-date="item.arrivalDate"
            />

        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            devices : [
                {
                    id:5,
                    PhotoName:'images/device_1.jpg',
                    deviceName:'기본 냉장고',
                    deviceBeforePrice : 600000,
                    deviceAfterPrice: 490000,
                    arrivalDate : '2023-12-15'
                },
                {
                    id:6,
                    PhotoName:'images/device_2.jpg',
                    deviceName:'기본 냉장고',
                    deviceBeforePrice : 600000,
                    deviceAfterPrice: 660000,
                    arrivalDate : '2023-12-15'
                },
                {
                    id:7,
                    PhotoName:'images/device_3.jpg',
                    deviceName:'기본 냉장고',
                    deviceBeforePrice : 600000,
                    deviceAfterPrice: 780000,
                    arrivalDate : '2023-12-15'
                },
                {
                    id:8,
                    PhotoName:'images/device_4.jpg',
                    deviceName:'기본 냉장고',
                    deviceBeforePrice : 600000,
                    deviceAfterPrice: 560000,
                    arrivalDate : '2023-12-15'
                },
                {
                    id:9,
                    PhotoName:'images/device_5.jpg',
                    deviceName:'기본 냉장고',
                    deviceBeforePrice : 600000,
                    deviceAfterPrice: 580000,
                    arrivalDate : '2023-12-15'
                }
            ]
        }
    }


}
</script>
