<template>
    <div>{{ id }}</div>
</template>
<script>
    export default {
        asyncData({ params }) {
            return {
                id: params.id
            }
        },
        validate({ params }) {
            return /^\d+$/.test(params.id)
        },
        data() {
            return {
                id: null
            }
        }
    }
</script>
